// font-size vars
$fontsize-large-xxxx : .8rem /* 30/37.5 */;
$fontsize-large-xxx : .64rem /* 24/37.5 */;
$fontsize-large-xx : .533333rem /* 20/37.5 */;
$fontsize-large-x : .48rem /* 18/37.5 */;
$fontsize-large : .426667rem /* 16/37.5 */;
$fontsize-medium : .373333rem /* 14/37.5 */;
$fontsize-small : .32rem /* 12/37.5 */;
$fontsize-small-s : .266667rem /* 10/37.5 */;

// radius-size
$radius-size-medium : .133333rem /* 5/37.5 */;
